/* better box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 32px;
}

#main {
  width: 700px;
  margin: auto;
}

#status-display {
  font-size: 24px;
  margin-bottom: 10px;
}

#select-inst-button {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

#grey-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#begin-button {
  width: 400px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  background-color: #DB9D19;
  border-radius: 10px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  font-size: 64px;
}
